<main class="holder">
        <div class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat laoreet leo, a rhoncus augue
                pharetra at. Sed eu suscipit dolor, non maximus nisl. Duis sit amet lacinia purus, vitae finibus ante.
                Quisque posuere condimentum lacus, sit amet tempus risus mattis sed. Nunc feugiat ligula lorem, vitae
                mollis neque porta et. Nam condimentum neque vulputate ex tristique, vitae accumsan velit vestibulum.
                Etiam efficitur felis vel mauris hendrerit, ac blandit libero luctus. Ut ultricies augue lectus, eget
                vehicula diam accumsan consequat. Vivamus sit amet ante dolor. Curabitur vel aliquet mauris. Quisque
                euismod non ligula eget fringilla. Fusce nec mauris luctus, faucibus mauris non, luctus felis. Aliquam
                venenatis metus vitae risus iaculis, vitae dapibus arcu commodo. </p>
            <p>Morbi faucibus tellus et nisi gravida, eget auctor nisi vulputate.</p>
        </div>
        <div class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat laoreet leo,
                        a rhoncus augue pharetra at. Sed eu suscipit dolor, non maximus nisl. Duis sit amet
                        lacinia purus, vitae finibus ante. Quisque posuere condimentum lacus, sit amet tempus
                        risus mattis sed. Nunc feugiat ligula lorem, vitae mollis neque porta et. Nam
                        condimentum neque vulputate ex tristique, vitae accumsan velit vestibulum. Etiam
                        efficitur felis vel mauris hendrerit, ac blandit libero luctus. Ut ultricies augue
                        lectus, eget vehicula diam accumsan consequat. Vivamus sit amet ante dolor. Curabitur
                        vel aliquet mauris. Quisque euismod non ligula eget fringilla. Fusce nec mauris luctus,
                        faucibus mauris non, luctus felis. Aliquam venenatis metus vitae risus iaculis, vitae
                        dapibus arcu commodo. </p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="Diana Reyes">
                    <h5>Diana Reyes</h5>
                    <h6>Gerente Comercial</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat laoreet leo,
                        a rhoncus augue pharetra at. Sed eu suscipit dolor, non maximus nisl. Duis sit amet
                        lacinia purus, vitae finibus ante. Quisque posuere condimentum lacus, sit amet tempus
                        risus mattis sed. Nunc feugiat ligula lorem, vitae mollis neque porta et. Nam
                        condimentum neque vulputate ex tristique, vitae accumsan velit vestibulum. Etiam
                        efficitur felis vel mauris hendrerit, ac blandit libero luctus. Ut ultricies augue
                        lectus, eget vehicula diam accumsan consequat. Vivamus sit amet ante dolor. Curabitur
                        vel aliquet mauris. Quisque euismod non ligula eget fringilla. Fusce nec mauris luctus,
                        faucibus mauris non, luctus felis. Aliquam venenatis metus vitae risus iaculis, vitae
                        dapibus arcu commodo. </p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="Roberto Zaptos">
                    <h5>Roberto Zaptos</h5>
                    <h6>Gerente de Sistemas</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat laoreet leo,
                        a rhoncus augue pharetra at. Sed eu suscipit dolor, non maximus nisl. Duis sit amet
                        lacinia purus, vitae finibus ante. Quisque posuere condimentum lacus, sit amet tempus
                        risus mattis sed. Nunc feugiat ligula lorem, vitae mollis neque porta et. Nam
                        condimentum neque vulputate ex tristique, vitae accumsan velit vestibulum. Etiam
                        efficitur felis vel mauris hendrerit, ac blandit libero luctus. Ut ultricies augue
                        lectus, eget vehicula diam accumsan consequat. Vivamus sit amet ante dolor. Curabitur
                        vel aliquet mauris. Quisque euismod non ligula eget fringilla. Fusce nec mauris luctus,
                        faucibus mauris non, luctus felis. Aliquam venenatis metus vitae risus iaculis, vitae
                        dapibus arcu commodo. </p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="Sandra Mastropiero">
                    <h5>Sandra Mastropiero</h5>
                    <h6>Gerente de Marketing</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat laoreet leo,
                        a rhoncus augue pharetra at. Sed eu suscipit dolor, non maximus nisl. Duis sit amet
                        lacinia purus, vitae finibus ante. Quisque posuere condimentum lacus, sit amet tempus
                        risus mattis sed. Nunc feugiat ligula lorem, vitae mollis neque porta et. Nam
                        condimentum neque vulputate ex tristique, vitae accumsan velit vestibulum. Etiam
                        efficitur felis vel mauris hendrerit, ac blandit libero luctus. Ut ultricies augue
                        lectus, eget vehicula diam accumsan consequat. Vivamus sit amet ante dolor. Curabitur
                        vel aliquet mauris. Quisque euismod non ligula eget fringilla. Fusce nec mauris luctus,
                        faucibus mauris non, luctus felis. Aliquam venenatis metus vitae risus iaculis, vitae
                        dapibus arcu commodo. </p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="Luciano Figuero">
                    <h5>Luciano Figuero</h5>
                    <h6>Gerente Logistica</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat laoreet leo,
                        a rhoncus augue pharetra at. Sed eu suscipit dolor, non maximus nisl. Duis sit amet
                        lacinia purus, vitae finibus ante. Quisque posuere condimentum lacus, sit amet tempus
                        risus mattis sed. Nunc feugiat ligula lorem, vitae mollis neque porta et. Nam
                        condimentum neque vulputate ex tristique, vitae accumsan velit vestibulum. Etiam
                        efficitur felis vel mauris hendrerit, ac blandit libero luctus. Ut ultricies augue
                        lectus, eget vehicula diam accumsan consequat. Vivamus sit amet ante dolor. Curabitur
                        vel aliquet mauris. Quisque euismod non ligula eget fringilla. Fusce nec mauris luctus,
                        faucibus mauris non, luctus felis. Aliquam venenatis metus vitae risus iaculis, vitae
                        dapibus arcu commodo. </p>
                </div>
            </div>
        </div>
    </main>